@using mq.application.webmvc
@using mq.application.common;
@model mq.model.viewentity.employeebg.UserAddEntity
@{
	ViewBag.Title = ViewBag.add ? "添加员工信息" : "修改员工信息";
	Layout = "~/Views/Share/_Menu.cshtml";
}
@section head{
    <style type="text/css">
        .box1 {
            margin: 10px;
            padding: 15px;
            background-color: #f2f2f2;
        }

        .layui-form-item .layui-input-inline {
            width: 290px;
        }

        .layui-form-label {
            width: 140px;
        }

        .layui-icon {
            margin-right: 5px;
        }
    </style>
}
<div class="layui-main" style="margin-left: 200px;width: 80%">
    <div class="layui-box box1">
        <span class="layui-breadcrumb">
            <a href="">工资考勤</a>
            <a><cite>添加员工</cite></a>
        </span>
    </div>
    <div class="layui-box box1">
        <form class="layui-form">

            <div class="layui-form-item">
                <label class="layui-form-label">
                    <i class="layui-icon" style="font-size: 3px; color: #ff0000;">&#xe600;</i>用户名：
                </label>
                <div class="layui-input-inline">
                    <input type="text" name="realname" id="realname" lay-verify="required|name|realname" placeholder="请输入用户名" class="layui-input" value="@(ViewBag.add ? "" : Model.BgUser==null?"":Model.BgUser.RealName)">
                </div>
                <div class="layui-form-mid layui-word-aux" id="usernamemsg">请与身份证上一致，切不超过八个汉字！</div>
            </div>

			<div class="layui-form-item">
				<label class="layui-form-label">
					<i class="layui-icon" style="font-size: 3px; color: #ff0000;">&#xe600;</i>性 别：
				</label>
				<div class="layui-input-block">
					@{ 
						string m = string.Empty;
						string w =string.Empty;
						if (ViewBag.add || Model.BgUser==null || Model.BgUser.Gender==0)
						{
							m = "checked=\"\"";
							w = "";
						}
						else
						{
							m = "";
							w = "checked=\"\"";
						}
					}
					<input type="radio" name="gender" value="0" title="男" @m>
					<input type="radio" name="gender" value="1" title="女" @w>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">
					<i class="layui-icon" style="font-size: 3px; color: #ff0000;">&#xe600;</i>员工职务：
				</label>
				<div class="layui-input-inline">
					<select name="positionId" lay-filter="juese">
						@if (Model.PositionList != null && Model.PositionList.Count > 0)
						{
							string select = string.Empty;
							for (int i = 0; i < Model.PositionList.Count; i++)
							{
								select = ((ViewBag.add || Model.BgUser == null)&& i == 0)|| Model.PositionList[i].PositionId == Model.BgUser.PositionId ? "selected=\"\"" : "";
								//if (ViewBag.add|| Model.BgUser==null)
								//{
								//	select = i == 0 ? "selected=\"\"" : "";
								//}
								//else
								//{
								//	select = Model.PositionList[i].PositionId == Model.BgUser.PositionId ? "selected=\"\"" : "";
								//}
								<option value="@Model.PositionList[i].PositionId" @(select)>@Model.PositionList[i].PositionName</option>
							}
						}
					</select>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">
						<i class="layui-icon" style="font-size: 3px; color: #ff0000;">&#xe600;</i>入职日期：
					</label>
					<div class="layui-input-inline">
						<input type="text" name="entryDate" lay-verify="required" id="date" autocomplete="off" class="layui-input" value="@(ViewBag.add ? "" : Model.BgUser==null?"":Model.BgUser.EntryDate.ToDateTime(DateTime.MinValue).ToString("yyyy-MM-dd"))">
					</div>
					<div class="layui-form-mid layui-word-aux">有效范围：当前日期的35天内！</div>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">
					<i class="layui-icon" style="font-size: 3px; color: #ff0000;">&#xe600;</i>身 份 证：
				</label>
				<div class="layui-input-inline">
					<input type="text" name="identity" lay-verify="identity" placeholder="" autocomplete="off" class="layui-input" value="@(ViewBag.add ? "" : Model.BgUser==null?"":Model.BgUser.IP)">
				</div>
				<div class="layui-form-mid layui-word-aux">请与身份证保持一致，18位！</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">
						<i class="layui-icon" style="font-size: 3px; color: #ff0000;">&#xe600;</i>手机号码：
					</label>
					<div class="layui-input-inline">
						<input type="tel" name="phone" lay-verify="required|phone" placeholder="请输入手机号码" autocomplete="off" class="layui-input" value="@(ViewBag.add ? "" : Model.BgUser==null?"":Model.BgUser.Phone)">
					</div>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">员工学历：</label>
				<div class="layui-input-inline">
					<select name="educationId" lay-filter="juese">
						@if (Model.ShortStaticFieldList != null && Model.ShortStaticFieldList.Count > 0)
						{
							string select = string.Empty;
							for (int i = 0; i < Model.ShortStaticFieldList.Count; i++)
							{
								select = ((ViewBag.add || Model.BgUser == null) && i == 0) || Model.ShortStaticFieldList[i].ShortId == Model.BgUser.EducationId ? "selected=\"\"" : "";
								<option value="@Model.ShortStaticFieldList[i].ShortId" @(select)>@Model.ShortStaticFieldList[i].ShortName</option>
							}
						}
					</select>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">
					<i class="layui-icon" style="font-size: 3px; color: #ff0000;">&#xe600;</i>户口性质：
				</label>
				<div class="layui-input-inline">
					<select name="householdId" lay-filter="juese">
						@if (Model.CardFieldList != null && Model.CardFieldList.Count > 0)
						{
							string select = string.Empty;
							for (int i = 0; i < Model.CardFieldList.Count; i++)
							{
								select = ((ViewBag.add || Model.BgUser == null) && i == 0) || Model.CardFieldList[i].ShortId == Model.BgUser.HouseholdId ? "selected=\"\"" : "";
								<option value="@Model.CardFieldList[i].ShortId" @(select)>@Model.CardFieldList[i].ShortName</option>
							}
						}
					</select>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">毕业学校:</label>
				<div class="layui-input-inline">
					<input type="text" name="school" id="school" lay-verify="usercheck" placeholder="毕业学校" class="layui-input" value="@(ViewBag.add ? "" : Model.BgUser==null?"":Model.BgUser.School)">
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">
						<i class="layui-icon" style="font-size: 3px; color: #ff0000;">&#xe600;</i>Email邮箱：
					</label>
					<div class="layui-input-inline">
						<input type="text" name="email" lay-verify="required|email" placeholder="请输入邮箱" autocomplete="off" class="layui-input" value="@(ViewBag.add ? "" : Model.BgUser==null?"":Model.BgUser.Email)">
					</div>
					<div class="layui-form-mid layui-word-aux">请输入真实邮箱，用于找回密码或者接收文件</div>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">
					<i class="layui-icon" style="font-size: 3px; color: #ff0000;">&#xe600;</i>紧急联系人及电话:
				</label>
				<div class="layui-input-inline">
					<input type="text" name="emergency" id="emergency" lay-verify="usercheck" placeholder="请输入紧急联系人及电话" class="layui-input" value="@(ViewBag.add ? "" : Model.BgUser==null?"":Model.BgUser.Emergency)">
				</div>
				<div class="layui-form-mid layui-word-aux">如：xxx：18812345678</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">
					<i class="layui-icon" style="font-size: 3px; color: #ff0000;">&#xe600;</i>现 住 址:
				</label>
				<div class="layui-input-inline">
					<input type="text" name="address" id="address" lay-verify="required"  placeholder="请输入现住址" class="layui-input" value="@(ViewBag.add ? "" : Model.BgUser==null?"":Model.BgUser.Address)">
				</div>
				<div class="layui-form-mid layui-word-aux">注：最多20个汉字</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">备 注:</label>
				<div class="layui-input-inline">
					<input type="text" style="width:500px;" name="remark" id="remark" lay-verify="usercheck" placeholder="备注" class="layui-input" value="@(ViewBag.add ? "" : Model.BgUser==null?"":Model.BgUser.Remark)">
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit="" lay-filter="demo1">立即注册</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
</form>
        <script>
            layui.use(['form', 'layedit', 'laydate'], function () {
                var form = layui.form,
					layer = layui.layer,
					laydate = layui.laydate;

				//日期
				laydate.render({
					elem: '#date'
					, min: 0 //0天前
					, max: 35//7天后
				});

                //自定义验证规则
                form.verify({
                    pass: [/(.+){6,12}$/, '密码必须6到12位'],
					username: [/^[a-zA-Z0-9]{6,12}$/, '必须为6到12位数字或者字母'],
					name: [/^[\u4e00-\u9fa5]{0,8}$/, '必须汉字且不能超过8个字符'],
                    realname: function (value, item) {
                        if (value.length>16) {
							return '不能超过8个字符！';
                        }
                    },
                    usercheck: function (value, item) { //value：表单的值、item：表单的DOM对象
                        var result = false;
                        $.ajax({
                            type: 'POST',
                            async: false,
                            url: '@DomainUrlHelper.EmployeeBgPath/User/CheckUserName?username=' + encodeURIComponent(value),
                            success: function (data) {
                                if (data.ErrorCode == "E001") {
                                    result = true;
                                }
                            },
                            error: function (a, b, c) {
                            }
                        });
                        if (result) {
                            return '该用户名已存在！';
                        }
                      
                    }
                });

                form.on('select(area)', function (data) {
                    var id = data.value;
                    $.ajax({
                        type: 'POST',
                        url: '@DomainUrlHelper.EmployeeBgPath/User/GetShopList?areaId=' + id,
                        //data: { Filename: fn },
                        cache: false,
                        //dataType: 'json',
                        success: function (data) {
                            var ht = '<option value="">请选择市</option>' + data;
                            $('#shop').html(ht);
                            layui.form().render('select');
                        },
                        error: function (a, b, c) {
                        }
                    });
                });

                //监听提交
                var layId;
                form.on('submit(demo1)', function (data) {
                    var pars = data.field;
					pars.realname = encodeURIComponent(pars.realname);
					pars.school = encodeURIComponent(pars.school);
					pars.emergency = encodeURIComponent(pars.emergency);
					pars.address = encodeURIComponent(pars.address);
					if (pars.remark != undefined || pars.remark == '备注') {
						pars.remar == '';
					} else {
						pars.remark = encodeURIComponent(pars.remark);
					}
					
                    $.ajax({
                        type: 'POST',
                        url: '@DomainUrlHelper.EmployeeBgPath/User/AddUser',
                        data: pars,
                        cache: false,
                        //dataType: 'json',
                        beforeSend: function () {
                            layId = layer.load(2);
                        },
                        success: function (dat) {
                            if (dat.ErrorCode == "E000") {
                                layer.msg('添加成功');
                            } else {
                                layer.alert(dat.ErrorMessage, {
                                    icon: 2, //第三方扩展皮肤0=！；1=对勾；2=X;3=?;4=锁；5=哭脸；6=笑脸；
                                    skin: 'layer-ext-moon'
                                });
                            }
                        },
                        error: function (a, b, c) {
                        },
                        complete: function () {
                            layer.close(layId);
                        }
                    });
                    return false;
                });
            });

            function CheckUserName() {
                var username = $('#username').val();
                if (undefined == username || username == '') {
                    layer.msg('用户名不能为空！', {
                        icon: 2,
                        time: 1000
                    });
                    $('#usernamemsg').text('用户名不能为空！').css('color', 'red');
                    return;
                }
                $.post('@DomainUrlHelper.EmployeeBgPath/User/CheckUserName', { 'username': username }, function (data) {
                    if (data.ErrorCode == "E000") {
                        $('#usernamemsg').text('请填写6到12位用户名，必须为字母或者数字！').css('color', 'rgb(153,153,153)');
                    } else {
                        $('#usernamemsg').text('该用户名已存在！').css('color', 'red');
                    }
                });
            }
        </script>
    </div>
</div>